<footer>
    <section class="colophon">
        <p>Developed, and maintained by <a href="{{site.baseurl}}/">Jonathan Laster</a>. 
        Hosted by <a href="http://github.com">Github</a>. Set in Open Sans, Roboto, and Lobster, delivered by Adobe's 
        <a href="http://typekit.com">Typekit</a>, and <a href="https://www.google.com/fonts">Google Fonts</a>. <a href="https://github.com/GoodKaws/laster.co">View the source</a>.</p>

        <p>© <span id="footerDate"></span> Jonathan Laster, unless otherwise noted.</p>
    </section>
</footer>
