<header class="wrap top">

    <a href="{{site.baseurl}}"><img id="logo" src="{{site.baseurl}}/img/Triangle.png"></a>
    <a href="{{site.baseurl}}" class="site_title">Jonathan D. Laster</a>
    <p class="site_sub_title">Opinions on Tech, Automotive, Music, and Life</p>

    <nav class="site_nav">
        <a href="{{site.baseurl}}/" class="active">ABOUT</a>
        <a href="{{site.baseurl}}/blog.html">BLOG</a> 
        <!-- <a href="{{site.baseurl}}/projects.html">PROJECTS</a> -->
        <!-- <a href="{{site.baseurl}}/gear.html">GEAR</a> -->
        <a href="{{site.baseurl}}/quotes.html">QUOTES</a>
    </nav>

</header>
