<header class="wrap top">

    <a href="{{site.baseurl}}/"><img id="logo" src="{{site.baseurl}}/img/Triangle.png"></a>
    <a href="{{site.baseurl}}/" class="site_title">Jonathan D. Laster</a>
    <p class="site_sub_title">Opinions on Tech, Automotive, Music, and Life</p>

    <nav class="site_nav">
        <a href="{{site.baseurl}}/" class="{% if page.url == '/' %}active{% endif %}">ABOUT</a>
        <a href="{{site.baseurl}}/blog" class="{% if page.url == '/blog/' %}active{% endif %}">BLOG</a> 
        <a href="{{site.baseurl}}/quotes" class="{% if page.url == '/quotes/' %}active{% endif %}">QUOTES</a>
        <!-- <a href="{{site.baseurl}}/projects.html">PROJECTS</a> -->
        <!-- <a href="{{site.baseurl}}/gear.html">GEAR</a> -->
    </nav>

</header>
