<header class="wrap top">

    <a href="{{site.baseurl}}/" class="site-title">Jonathan D. Laster</a>
    <p class="site-sub-title">Tech, Automotive, and Life</p>

    <nav class="site-nav">
        <a href="{{site.baseurl}}/" class="{% if page.url == '/' %}active{% endif %}">ABOUT</a>
        <a href="{{site.baseurl}}/blog" class="{% if page.active == 'blog' %}active{% endif %}">BLOG</a>
        <a href="{{site.baseurl}}/tools" class="{% if page.active == 'tools' %}active{% endif %}">TOOLS</a>
        <a href="{{site.baseurl}}/quotes" class="{% if page.active == 'quotes' %}active{% endif %}">QUOTES</a>
    </nav>

</header>


